<div class="modal-fade" id="holdsModal" show="holdsModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">&times;</button>
		<h4 class="modal-title">Holds Detail</h4>
	</div>

	<div class="modal-body">
		<div class="block">
			<textarea holds-edit holds="holdsValue" rows='10'style="width: 500px"></textarea>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" ng-click="closeModal()">Close</button>
		&nbsp;
		<button class="btn btn-success" data-dismiss="modal" ng-click="saveHolds()">Save</button>
	</div>
</div>